문제<br>
시간 구간에 대한 질의를 처리하려고 한다.<br>
전체 시간 구간은 00:00:00 ~ 23:59:59이다. h:m:s는 h시 m분 s초를 나타낸다.
전체 시간 구간은 길이가 1초인 구간으로 나누어져 있다.<br>
즉, 전체 시간 구간은 00:00:00 ~ 00:00:01, 00:00:01 ~ 00:00:02, ..., 23:59:58 ~ 23:59:59인 구간으로 나누어져 있다.<br>

시간 구간에 대한 n개의 질의가 저장된 배열 A가 주어진다. 배열 A에 저장된 n개의 질의는 아래 두 가지 유형으로 구분된다. 첫 번째가 유형 1을 나타내고 두 번째가 유형 2를 나타낸다.<br>

1 h1:m1:s1 h2:m2:s2 : 시간 구간 h1:m1:s1 ~ h2:m2:s2에 1을 더한다.<br>
2 h1:m1:s1 : 전체 시간 구간에 있는 길이가 h1:m1:s1인 시간 구간 중에서 구간 합이 최대인 시간 구간의 구간 합을 출력한다.<br>
시간 구간 h1:m1:s1 ~ h2:m2:s2에 1을 더하는 유형 1의 질의는 시간 구간 h1:m1:s1 ~ h2:m2:s2에 포함된 길이가 1초인 모든 구간에 1을 더하는 것을 의미한다. 예를 들어, 00:00:02 ~ 01:02:03에 1을 더하는 질의는 00:00:02 ~ 00:00:03, 00:00:03 ~ 00:00:04, ..., 01:02:02 ~ 01:02:03 구간에 1을 더하는 것을 의미한다.<br>

유형 2의 질의에서 시간 구간 h1:m1:s1 ~ h2:m2:s2 의 길이는 h2:m2:s2 - h1:m1:s1 을 의미한다. 예를 들어, 길이가 01:02:03인 시간 구간은 00:00:00 ~ 01:02:03, 00:00:01 ~ 01:02:04 등이 있다.<br>

전체 시간 구간 00:00:00 ~ 23:59:59의 초깃값은 0이다. 배열 A에 저장된 첫 번째 질의부터 n번째 질의까지 순서대로 처리하면서 유형 2의 결과를 출력하자. 단, 배열 A에는 유형 2의 질의가 마지막에 1개 저장되어 있다.<br>

입력<br>
첫 번째 줄에 n이 주어진다.<br>

두 번째 줄부터 n개의 줄에 배열 A에 저장된 n개의 질의가 첫 번째 질의부터 n번째 질의까지 순서대로 주어진다. 한 줄에 한 개의 질의가 주어진다.<br>

출력<br>
첫 번째 줄에 유형 2의 질의 결과를 출력한다.<br>

제한<br>
2 ≤ n ≤ 100,000<br>
00 ≤ h1, h2 ≤ 23<br>
00 ≤ m1, s1, m2, s2 ≤ 59<br>
00:00:00 ≤ h1:m1:s1 < h2:m2:s2 ≤ 23:59:59<br>
h1, m1, s1, h2, m2, s2는 모두 길이가 2인 문자열이다.<br>
배열 A에는 유형 2의 질의가 마지막에 1개 저장되어 있다.<br>
유형 2의 질의에서 시간 구간의 길이는 양의 정수이다.

입력 <br> 
4 <br>
1 00:01:10 00:01:20 <br>
1 00:00:20 02:02:30 <br>
1 00:01:20 02:02:00 <br>
2 00:00:10 <br>

출력 <br>
20

입력 <br> 
4 <br>
1 00:01:10 00:01:20 <br>
1 00:00:20 02:02:30 <br>
1 00:01:20 02:02:00 <br>
2 00:00:20 <br>

출력<br>
40